.after-register {
    color: #757575;
    font-size: 1.6rem;
}

.after-register:hover {
    cursor: pointer;
}

.register-menu {
    width: 20%;
    height: 16rem;
    /* background-color: red; */
    display: none;
}

.register-item {
    width: 66%;
    height: 16rem;
    background-color: #eee;
    border-radius: 0.6rem;

}

.register-text {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.register-text li {
    list-style: none;
}

.register-text li:hover {
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    
}